@charset "UTF-8";
/// Return a calulated column width that can then be passed in to a `calc()`.
///
/// @argument {map} $grid
///
/// @argument {number} $columns
///
/// @return {string}
///
/// @example scss
///   _neat-column-width($neat-grid, 4)
///
/// @access private

@function _neat-column-width-no-outside-gutters($grid, $cols) {
    @if length($cols) > 1 {
      $o_cols: $cols;
      $cols: nth($cols, 1);
      $_grid-column: nth($o_cols, 3);
    }
    $_column-ratio: _neat-column-ratio($grid, $cols);
    $_grid-columns: _retrieve-neat-setting($grid, columns);
    $_grid-gutter: _retrieve-neat-setting($grid, gutter);
    $mc: $_grid-columns - 1;
    @return unquote("#{percentage($cols / $_grid-columns)} - #{(((($_grid-gutter * $mc/$_grid-columns) - $_grid-gutter) * $cols) + $_grid-gutter)}");
}
@function _neat-column-margin($grid, $cols) {
  @if $cols == 0 {
      $_grid-gutter: _retrieve-neat-setting($grid, gutter);
      @return unquote("#{$_grid-gutter}");
  } @else {
    @if $neat-no-outside-gutters {
      $_grid-columns: _retrieve-neat-setting($grid, columns);
      $_grid-gutter: _retrieve-neat-setting($grid, gutter);
      @if length($cols) > 1 {
        $o_cols: $cols;
        $cols: nth($cols, 1);
        $_grid-column: nth($o_cols, 3);
      }
      $mc: $_grid-columns - $cols;
      @if $cols {
        @return unquote("#{percentage($cols / $_grid-columns)} - #{(($_grid-gutter * $mc/$_grid-columns) - $_grid-gutter)}");

      } @else {
        @return unquote("#{$_grid-gutter}");
      }
    } @else {
      $_column-ratio: _neat-column-ratio($grid, $cols);
      $_gutter: _retrieve-neat-setting($grid, gutter);
      $_gutter-affordance: $_gutter + ($_gutter * $_column-ratio);
      @return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
    }
  }
}
@function _neat-column-width($grid, $columns) {
  $_column-ratio: _neat-column-ratio($grid, $columns);
  $_gutter: _retrieve-neat-setting($grid, gutter);
  //$tcol: _retrieve-neat-setting($grid, columns);
  @if $_gutter == 0 {
    @return unquote("#{percentage($_column-ratio)}");
  } @else {
      @if ($neat-no-outside-gutters) {
        //@return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
        @return _neat-column-width-no-outside-gutters($grid, $columns);
      } @else {
        $_gutter-affordance: $_gutter + ($_gutter * $_column-ratio);
        @return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
      }
  }
}
